html {
	height: 100%;
}

header {
	background: #eee;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	height:  60px;
	padding: 10px 10px 0 10px;
	min-width: 250px;
}

body {
	background: #363636;
	font-family: sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden !important;
	padding: 0;
}

.splash {
	background: #FFF;
	font-size: 40px;
	height: 100%;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	z-index: 999999999;
}

.splash span {
	background: url("../images/gifs/loading.gif");
	display: block;
	height: 160px;
	margin: 15% auto;
	width: 160px;
}

#map-canvas {
	height: 100%;
	margin: 3px 0;
}

#legend {
	background: white;
	padding: 10px;
	font-size: 20px;
}

.left {float: left !important;}
.right {float: right !important;}
.al_center {text-align: center !important;}
.w_100c {width: 100% !important;}